.categories-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories{
    height: 60vh;
    margin: 20px auto;
}

.category{
    margin: 15px auto;
    background-color: rgb(10, 22, 253);
    color: white;
    border-radius: 10px;
    padding: 10px 5px;
    cursor: pointer;
    width: 250px;
}
.selected{
    background-color: rgb(18, 204, 18);
    transition: background-color 0.3s ease;
}
.job-name-category{
    text-decoration: underline;
    text-transform: capitalize;
    margin-left: 5px;
    color: rgb(10, 22, 253);
    font-weight: 700;
    cursor: pointer;
}
.desc{
    margin: 10px auto;
    font-size: 20px;
    color: rgb(59, 58, 58);
}